<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/jqueryCodes/admin.js"></script>
</head>
<body>
    <input type="text" id="username" placeholder="Enter username">
    <button id="check"> Check Users</button>
    <div id="profileInfo">
        <div id="username"></div>
        <div id="firstName"></div>
        <div id="lastName"></div>
        <div id="phoneNumber"></div>
        <div id="refferalCount"></div>
        <div id="answerCount"></div>
        <div id="points"></div>
    </div>
    <div>Enter Question details to enter question</div>
    <div>
        <input type="text" id="text" placeholder="Question text">
        <input type="text" id="option1" placeholder="Option 1">
        <input type="text" id="option2" placeholder="Option 1">
        <input type="text" id="option3" placeholder="Option 1">
        <input type="text" id="option4" placeholder="Option 1">
        <input type="text" id="answer" placeholder="Answer(Enter a,b,c,d)">
        <button id="submit">Submit</button>
    </div>
    <div id="added">Added</div>
    <div>
        <a href="http://localhost:9876/load/admin">Admin Page</a>
        <a href="http://localhost:9876/load/profile">Profile Page</a>
        <a href="http://localhost:9876/load/login">Login Page</a>
        <a href="http://localhost:9876/load/questions">Questions Page</a>
        <a href="http://localhost:9876/load/refer">Referral Page</a>
        <a href="http://localhost:9876/load/signup">Signup Page</a>
    </div>
</body>
</html>